Import all the necessary libraries

In [2503]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeRegressor
import numpy as np
from sklearn.metrics import r2_score, mean_squared_error

Read and Understand meta data related to the dataset at hand..

In [2504]:
data_frame = pd.read_csv("./datasets/train.csv")
data_frame.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [2505]:
data_frame.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [2506]:
data_frame.describe(include=['object'])

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198

In [2507]:
data_frame["Id"].unique()

array([   1,    2,    3, ..., 1458, 1459, 1460], dtype=int64)

In [2508]:
data_frame.drop(columns=['Id'])

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [2509]:
data_frame.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

As we can see that the dataset we have is a mix both categorical and continous data, with a lot of NaN values.

- By dropping these Null values, we potentially loose a lot of data because a lot of features contain null.
- One way around this to prevent data loss lets fill the data gaps (null values).

In [2510]:
# fill by None
data_frame['PoolQC'] = data_frame['PoolQC'].fillna('None')


data_frame['MiscFeature'] = data_frame['MiscFeature'].fillna('None')
data_frame['Alley'] = data_frame['Alley'].fillna('None')
data_frame['Fence'] = data_frame['Fence'].fillna('None')
data_frame['FireplaceQu'] = data_frame['FireplaceQu'].fillna('None')


data_frame['LotFrontage'] = data_frame.groupby("Neighborhood")["LotFrontage"].transform(lambda x: x.fillna(x.median()))

In [2511]:
for col in ['GarageType', 'GarageFinish', 'GarageQual', 'GarageCond']:
    data_frame[col] = data_frame[col].fillna('None')

for col in ['GarageYrBlt', 'GarageArea', 'GarageCars']:
    data_frame[col] = data_frame[col].fillna(int(0))

for col in ('BsmtFinType2', 'BsmtExposure', 'BsmtFinType1', 'BsmtCond', 'BsmtQual'):
    data_frame[col] = data_frame[col].fillna('None')

#MasVnrArea  replace with zero
data_frame['MasVnrArea'] = data_frame['MasVnrArea'].fillna(int(0))
#MasVnrType  replace with None
data_frame['MasVnrType'] = data_frame['MasVnrType'].fillna('None')
data_frame['Electrical'] = data_frame['Electrical'].fillna(data_frame['Electrical']).mode()[0]

In [2512]:
data_frame.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [2513]:
data_frame.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.199658,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.117123,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,22.431902,9981.264932,1.382997,1.112799,30.202904,20.645407,180.731373,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,60.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,70.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,164.250000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [2514]:
data_frame.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,12,2008,WD,Normal,250000

As we can see we have filled all continous features with null values with either median of the feature of 0s, and None for the categorical ones.

In [2515]:
print(data_frame.select_dtypes([int, float]).corr().sort_values(['SalePrice']).SalePrice)

KitchenAbvGr    -0.135907
EnclosedPorch   -0.128578
MSSubClass      -0.084284
OverallCond     -0.077856
YrSold          -0.028923
LowQualFinSF    -0.025606
Id              -0.021917
MiscVal         -0.021190
BsmtHalfBath    -0.016844
BsmtFinSF2      -0.011378
3SsnPorch        0.044584
MoSold           0.046432
PoolArea         0.092404
ScreenPorch      0.111447
BedroomAbvGr     0.168213
BsmtUnfSF        0.214479
BsmtFullBath     0.227122
GarageYrBlt      0.261366
LotArea          0.263843
HalfBath         0.284108
OpenPorchSF      0.315856
2ndFlrSF         0.319334
WoodDeckSF       0.324413
LotFrontage      0.349876
BsmtFinSF1       0.386420
Fireplaces       0.466929
MasVnrArea       0.472614
YearRemodAdd     0.507101
YearBuilt        0.522897
TotRmsAbvGrd     0.533723
FullBath         0.560664
1stFlrSF         0.605852
TotalBsmtSF      0.613581
GarageArea       0.623431
GarageCars       0.640409
GrLivArea        0.708624
OverallQual      0.790982
SalePrice        1.000000
Name: SalePrice, dtype: float64

As we can see some of the features kind of dominate by having higher co-relation than the other due to their range and dimensionality, I would like to reduce this, hence I shall perform some data normalization with the goal of preventing this anamoly within numerical columns.

In [2516]:
numerical_col = data_frame.select_dtypes(include=['int', 'float'])
numerical_col.drop(columns=['SalePrice'])

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,548,0,61,0,0,0,0,0,2,2008
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,460,298,0,0,0,0,0,0,5,2007
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,608,0,42,0,0,0,0,0,9,2008
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,642,0,35,272,0,0,0,0,2,2006
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,836,192,84,0,0,0,0,0,12,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,460,0,40,0,0,0,0,0,8,2007
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,500,349,0,0,0,0,0,0,2,2010
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,252,0,60,0,0,0,0,2500,5,2010
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,240,366,0,112,0,0,0,0,4,2010
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,276,736,68,0,0,0,0,0,6,2008

In [2517]:
scaler = MinMaxScaler()
tranformed_numericals = scaler.fit_transform(numerical_col)
tranformed_numericals  = pd.DataFrame(tranformed_numericals )
tranformed_numericals

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,0.000000,0.235294,0.150685,0.033420,0.666667,0.500,0.949275,0.883333,0.122500,0.125089,...,0.000000,0.111517,0.000000,0.0,0.0,0.0,0.00000,0.090909,0.50,0.241078
1,0.000685,0.000000,0.202055,0.038795,0.555556,0.875,0.753623,0.433333,0.000000,0.173281,...,0.347725,0.000000,0.000000,0.0,0.0,0.0,0.00000,0.363636,0.25,0.203583
2,0.001371,0.235294,0.160959,0.046507,0.666667,0.500,0.934783,0.866667,0.101250,0.086109,...,0.000000,0.076782,0.000000,0.0,0.0,0.0,0.00000,0.727273,0.50,0.261908
3,0.002056,0.294118,0.133562,0.038561,0.666667,0.500,0.311594,0.333333,0.000000,0.038271,...,0.000000,0.063985,0.492754,0.0,0.0,0.0,0.00000,0.090909,0.00,0.145952
4,0.002742,0.235294,0.215753,0.060576,0.777778,0.500,0.927536,0.833333,0.218750,0.116052,...,0.224037,0.153565,0.000000,0.0,0.0,0.0,0.00000,1.000000,0.50,0.298709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,0.997258,0.235294,0.140411,0.030929,0.555556,0.500,0.920290,0.833333,0.000000,0.000000,...,0.000000,0.073126,0.000000,0.0,0.0,0.0,0.00000,0.636364,0.25,0.194556
1456,0.997944,0.000000,0.219178,0.055505,0.555556,0.625,0.768116,0.633333,0.074375,0.139972,...,0.407235,0.000000,0.000000,0.0,0.0,0.0,0.00000,0.090909,1.00,0.243161
1457,0.998629,0.294118,0.154110,0.036187,0.666667,1.000,0.500000,0.933333,0.000000,0.048724,...,0.000000,0.109689,0.000000,0.0,0.0,0.0,0.16129,0.363636,1.00,0.321622
1458,0.999315,0.000000,0.160959,0.039342,0.444444,0.625,0.565217,0.766667,0.000000,0.008682,...,0.427071,0.000000,0.202899,0.0,0.0,0.0,0.00000,0.272727,1.00,0.148903
1459,1.000000,0.000000,0.184932,0.040370,0.444444,0.625,0.673913,0.250000,0.000000,0.147059,...,0.858810,0.124314,0.000000,0.0,0.0,0.0,0.00000,0.454545,0.50,0.156367

We have a data_frame that has normalized numerical features, from the original features.

In [2518]:
categorical_values = data_frame.select_dtypes(include=['object'])
categorical_values.describe()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460
unique,5,2,3,4,4,2,5,3,25,9,...,7,4,6,6,3,4,5,5,9,6
top,RL,Pave,None,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,None,None,None,WD,Normal
freq,1151,1454,1369,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,1453,1179,1406,1267,1198

As we can see all of these columns are categorical in nature, we can one hot encode them.

In [2519]:
encoded_features = pd.get_dummies(categorical_values)
encoded_features

,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Street_Grvl,Street_Pave,Alley_Grvl,Alley_None,Alley_Pave,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0,0,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
1,0,0,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
2,0,0,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
3,0,0,0,1,0,0,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
4,0,0,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,0,0,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
1456,0,0,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
1457,0,0,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
1458,0,0,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
1459,0,0,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0

Now lets create one proper training set!

In [2520]:
X = pd.concat([tranformed_numericals, encoded_features], axis=1)
X.columns = X.columns.astype(str)
X

,0,1,2,3,4,5,6,7,8,9,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0.000000,0.235294,0.150685,0.033420,0.666667,0.500,0.949275,0.883333,0.122500,0.125089,...,0,0,0,1,0,0,0,0,1,0
1,0.000685,0.000000,0.202055,0.038795,0.555556,0.875,0.753623,0.433333,0.000000,0.173281,...,0,0,0,1,0,0,0,0,1,0
2,0.001371,0.235294,0.160959,0.046507,0.666667,0.500,0.934783,0.866667,0.101250,0.086109,...,0,0,0,1,0,0,0,0,1,0
3,0.002056,0.294118,0.133562,0.038561,0.666667,0.500,0.311594,0.333333,0.000000,0.038271,...,0,0,0,1,1,0,0,0,0,0
4,0.002742,0.235294,0.215753,0.060576,0.777778,0.500,0.927536,0.833333,0.218750,0.116052,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,0.997258,0.235294,0.140411,0.030929,0.555556,0.500,0.920290,0.833333,0.000000,0.000000,...,0,0,0,1,0,0,0,0,1,0
1456,0.997944,0.000000,0.219178,0.055505,0.555556,0.625,0.768116,0.633333,0.074375,0.139972,...,0,0,0,1,0,0,0,0,1,0
1457,0.998629,0.294118,0.154110,0.036187,0.666667,1.000,0.500000,0.933333,0.000000,0.048724,...,0,0,0,1,0,0,0,0,1,0
1458,0.999315,0.000000,0.160959,0.039342,0.444444,0.625,0.565217,0.766667,0.000000,0.008682,...,0,0,0,1,0,0,0,0,1,0
1459,1.000000,0.000000,0.184932,0.040370,0.444444,0.625,0.673913,0.250000,0.000000,0.147059,...,0,0,0,1,0,0,0,0,1,0

In [2521]:
y = data_frame['SalePrice']
y = np.log(y) #we are required to find RMSE gor log values!
y

0       12.247694
1       12.109011
2       12.317167
3       11.849398
4       12.429216
          ...
1455    12.072541
1456    12.254863
1457    12.493130
1458    11.864462
1459    11.901583
Name: SalePrice, Length: 1460, dtype: float64

It's not a surprising thing that we have close to 300 features, however we have now completed our normalization phase.
- Time to perform data split.

In [2522]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Here we split the dataset into 80/20 ratio as required and defined an integer seed that will keep the validation/test set generation constant. (Each time the same samples will form the test set.)

Let's train the model, and then test it.

In [2523]:
model = DecisionTreeRegressor()

In [2524]:
model.fit(X_train, y_train)
model

DecisionTreeRegressor()

Let's perform the model validation:

In [2525]:
y_predicted_log = model.predict(X_test)
y_predicted_log

array([11.94470788, 12.69250311, 11.65268741, 11.97350987, 12.65973409,
       11.19821472, 12.65235975, 11.8913619 , 11.36210258, 11.82041016,
       11.88448902, 11.77528973, 11.30220443, 12.27373129, 12.10625231,
       11.80931948, 12.11724143, 11.81303006, 11.68266824, 12.32829028,
       11.9511804 , 12.25486281, 12.06681058, 11.76679219, 12.16525065,
       11.94470788, 12.10625231, 11.85651517, 12.10625231, 12.24961095,
       11.75194237, 12.56755103, 12.21106019, 11.820116  , 12.43718437,
       11.8493977 , 11.8386256 , 12.29910751, 12.64109656, 11.47729829,
       11.64836504, 12.23076526, 11.69107165, 12.43987123, 11.76368418,
       11.66992921, 11.65268741, 11.75194237, 12.97154049, 11.87756858,
       11.68687877, 12.18841771, 11.65268741, 12.56024446, 11.87862358,
       12.46651198, 12.26857785, 12.07196966, 11.58058411, 11.58058411,
       11.19821472, 11.94470788, 12.66270604, 12.48582713, 12.54610995,
       12.39669301, 11.60367983, 12.64109656, 11.45105006, 12.07823927,
       11.68657621, 11.80559508, 11.59910316, 11.44035477, 13.27582754,
       12.06104687, 12.76568843, 12.74444437, 11.85651517, 11.73606902,
       11.6784399 , 11.01862914, 11.6307085 , 11.41861479, 11.91638857,
       11.79810441, 12.49087558, 12.15451616, 11.95761129, 11.96356787,
       11.9381932 , 11.9316358 , 11.72803684, 12.6181823 , 11.82407989,
       12.04355372, 12.23076526, 12.12269104, 12.23076526, 12.46997419,
       12.00762171, 12.32385568, 12.4049235 , 11.7905572 , 12.17561344,
       11.96400108, 11.95761129, 12.52352588, 11.88448902, 11.81303006,
       11.00209984, 11.73206099, 11.75194237, 11.8313792 , 12.27139211,
       11.68687877, 11.58988651, 11.71993963, 11.62625415, 12.56723749,
       11.79810441, 11.91371298, 12.03469103, 12.23999086, 12.07254125,
       11.8277362 , 12.37370349, 11.28978191, 11.87756858, 12.00150548,
       12.13350195, 12.82772919, 12.19551713, 11.53272809, 10.46024211,
       12.72188581, 12.82799232, 11.77528973, 12.34583459, 13.34550693,
       12.90634687, 11.7905572 , 12.08953883, 11.82407989, 11.88448902,
       11.7191263 , 12.43320822, 12.1388639 , 11.80484853, 11.01862914,
       11.8313792 , 11.9511804 , 12.21106019, 11.94470788, 11.42409425,
       11.820116  , 11.60367983, 11.8493977 , 11.34450681, 11.78676213,
       12.10071213, 11.87756858, 12.59640043, 11.87756858, 11.68266824,
       11.85651517, 12.38421883, 12.52352588, 13.22672339, 12.4049235 ,
       12.79917571, 11.53272809, 11.53272809, 11.92503512, 12.56024446,
       11.80931948, 11.6351431 , 12.14286657, 11.74006104, 12.08672589,
       12.10071213, 10.91508846, 11.79433792, 11.81303006, 12.44862659,
       11.8493977 , 12.51355735, 12.41105223, 12.21930965, 11.19134184,
       11.71177632, 11.58988651, 11.98292909, 12.04941884, 12.18841771,
       12.32385568, 12.18586994, 10.5789798 , 12.05815252, 11.9511804 ,
       12.54254488, 12.07254125, 11.89478071, 12.66270604, 12.1281111 ,
       11.820116  , 12.38708501, 11.84222921, 11.8493977 , 11.60823564,
       12.32385568, 11.87409031, 11.76756768, 12.05815252, 12.39462475,
       12.47716791, 12.17498953, 11.87059991, 11.77528973, 11.74799759,
       11.86709728, 12.43718437, 12.29225034, 11.04104808, 12.21106019,
       11.9511804 , 11.23848862, 11.01862914, 12.06104687, 11.53272809,
       11.35040654, 12.01612206, 11.69940503, 11.81303006, 12.29910751,
       11.9381932 , 12.18075484, 11.8968264 , 12.53357621, 11.87059991,
       11.57355009, 12.39255221, 12.17818744, 13.00865926, 12.1281111 ,
       11.58058411, 12.01460943, 12.07823927, 11.7745202 , 11.65268741,
       12.16525065, 11.98292909, 11.88448902, 11.34450681, 11.97035031,
       11.75587164, 11.65268741, 11.69107165, 12.07823927, 12.3883942 ,
       12.88520203, 12.01370075, 11.75978554, 12.52416267, 12.65235975,
       12.27373129, 11.94145585, 11.87862358, 11.65268741, 12.10071213,
       13.0530133 , 12.10071213, 12.44862659, 11.35627165, 11.53272809,
       11.91170158, 11.8313792 , 12.66980666, 11.87059991, 11.8493977 ,
       12.17044547, 11.41861479, 12.19095901, 11.60367983, 12.59640043,
       12.13350195, 12.34583459, 11.40756495, 12.46651198, 12.14950229,
       11.58988651, 11.72803684])

In [2526]:
def get_metrics(y_true_log, y_predicted_log) -> None:
    """
    Gives the metrics for a regression task.
    """
    r2 = r2_score(y_true_log, y_predicted_log)
    mse = mean_squared_error(y_true_log, y_predicted_log)
    rmse = np.sqrt(mse)
    print("The r2 score for the DecisionTreeRegressor is: %f"%(r2))
    print("The MSE score for the DecisionTreeRegressor is: %f"%(mse))
    print("The RMSE score for the DecisionTreeRegressor is: %f"%(rmse))

In [2527]:
get_metrics(y_test, y_predicted_log=y_predicted_log)

The dropped feature is: SalePrice
The r2 score for the DecisionTreeRegressor is: 0.998390
The MSE score for the DecisionTreeRegressor is: 0.000300
The RMSE score for the DecisionTreeRegressor is: 0.017331

In [297]:

from sklearn.model_selection import GridSearchCV

def find_best_hyperparams(X, y):
    # Define the hyperparameters to search
    hyperparams = {
        'criterion': ['mse', 'friedman_mse', 'mae'],
        'splitter': ['best', 'random'],
        'max_depth': [None] + list(np.arange(1, 21)),
        'min_samples_split': [2, 5, 10],
        'min_samples_leaf': [1, 2, 4],
        'max_features': [None, 'auto', 'sqrt', 'log2'],
    }

    # Initialize the DecisionTreeRegressor
    dt_regressor = DecisionTreeRegressor()

    # Use GridSearchCV to find the optimal hyperparameters
    grid_search = GridSearchCV(
        estimator=dt_regressor,
        param_grid=hyperparams,
        scoring='neg_mean_squared_error',  # Using negative mean squared error as scoring metric
        cv=5,  # Using 5-fold cross-validation
        n_jobs=-1,  # Use all available CPU cores
        verbose=1,
    )

    # Fit the GridSearchCV object to the data
    grid_search.fit(X, y)

    # Return the best combination of hyperparameters
    return grid_search.best_params_

# Example usage:
# X, y = load_your_data()
# best_hyperparams = find_best_hyperparams(X, y)
# print("Best hyperparameters:", best_hyperparams)


def find_best_hyperparams_and_evaluate(X, y):
    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Find the best hyperparameters using the previous function
    best_hyperparams = find_best_hyperparams(X_train, y_train)
    print("Best hyperparameters:", best_hyperparams)

    # Train the model with the best hyperparameters
    dt_regressor = DecisionTreeRegressor(**best_hyperparams)
    dt_regressor.fit(X_train, y_train)

    # Predict the target values for the test set
    y_pred = dt_regressor.predict(X_test)

    # Calculate the evaluation metrics
    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    # Print the evaluation metrics
    print(f"R2 score: {r2:.4f}")
    print(f"MSE score: {mse:.4f}")
    print(f"RMSE score: {rmse:.4f}")

In [298]:
find_best_hyperparams_and_evaluate(X, y)

Fitting 5 folds for each of 4536 candidates, totalling 22680 fits

KeyboardInterrupt: